.toggle {
  display: flex;
}

.toggle__name {
  padding: 10px 15px 10px 0;
  display: inline-block;
}

.toggle__item {
  padding: 10px;
}

.toggle__item-list {
  display: flex;
}

.toggle__item.selected {
  background-color: #F65261;
}